* {
  font-family: Avenir, Helvetica, sans-serif;
}

body {
  padding: 60px;
}

input[type=text] {
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  box-sizing: border-box;
  color: #272727;
  font-size: 1rem;
  padding: 12px 20px;
  width: 100%;
}